body{
	 font-family: 'Roboto', sans-serif;
	 color: #444;
	}

h1{
	 font-family: 'Roboto', sans-serif;
	 color: #96C93D;
	 line-height: 40px;
	}
h2{
	font-family: 'Roboto', sans-serif;
    color: #81BD41;
    line-height: 25px;
  }

 h3{
	font-family: 'Roboto', sans-serif;
    color: #799A3D;
    line-height: 18px;
  }

 p, a{
 	font-family: 'Roboto', sans-serif;
 	color: #222;
 	line-height: 12px;
   }
.showingData{
	display: none;
}
button{
	background-color: #96C93D;
	color: #222;
 	line-height: 22px;
}

.nombre-curso{
	cursor: pointer;
}

.nombre-curso:hover{
	cursor: pointer;
	color: #799A3D;
}
.clicked{
	font-size: 18px;
	color: #799A3D;
}